@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Nexa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Nexa-Book.ttf) format("truetype");
}

@font-face {
  font-family: 'Nexa';
  font-style: bold;
  font-weight: 900;
  src: url(../fonts/Nexa-Heavy.ttf) format("truetype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Nexa;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #063544;
  position: relative;
}

.header__list {
  display: none;
  position: absolute;
  top: 121px;
  width: 424px;
  background-color: #063544;
  opacity: 0.8;
  padding: 19px 30px 19px 30px;
}

.header__list .header__list-item {
  text-decoration: none;
  font-size: 17px;
  line-height: 37px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.header__list .header__list-item span {
  font-weight: 200;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 121px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .header__logo {
  width: 116px;
  margin-left: 34px;
}

.header__menu .header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 48px;
}

.header__menu .header__item {
  font-size: 24px;
  line-height: 36px;
  font-weight: 350;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding-right: 41px;
}

.header__menu .header__item:hover {
  color: #92d1d9;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.header__menu .header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #92d1d9;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #013444;
  width: 273px;
  height: 62px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__menu .header__button span {
  font-weight: 900;
  color: #013444;
}

.header__menu .header__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.display-block {
  display: block;
}

.header__burger {
  display: none;
}

.hero {
  height: 645px;
  width: 1440;
  background-image: url(../img/hero_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-left: 100px;
}

.hero .hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #013444;
  width: 615px;
  padding-top: 130px;
}

.hero .hero__title:after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #013444;
  position: absolute;
  top: 415px;
}

.hero .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
  color: #16838a;
  width: 615px;
  padding-top: 30px;
}

.hero .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063544;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #faf7f4;
  width: 273px;
  height: 62px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
}

.hero .hero__button span {
  font-weight: 900;
}

.hero .hero__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.benefits__title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #013444;
  padding-left: 100px;
  margin-top: 50px;
  position: relative;
}

.benefits__title:after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #92d1d9;
  position: absolute;
  top: 110px;
  left: 100px;
}

.benefits_back {
  position: absolute;
  width: 526px;
  right: -280px;
  top: 0px;
  overflow: hidden;
  z-index: -1;
}

.benefits__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (48%)[2];
      grid-template-columns: repeat(2, 48%);
  grid-column-gap: 50px;
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.benefits__box .benefits__item {
  font-size: 24px;
  line-height: 36px;
  color: #013444;
  background-color: white;
  padding: 50px 50px 20px 50px;
  position: relative;
}

.benefits__box .benefits__item-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.benefits__box .benefits__item-title mark {
  background-color: #92d1d9;
}

.benefits__box .benefits__item-text {
  font-weight: 200;
}

.benefits__box .benefits__item-back {
  position: absolute;
  bottom: 60px;
  right: 50px;
  opacity: 0.2;
  width: 40%;
}

.benefits__box .special_img {
  width: 25% !important;
}

.benefits__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063544;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #faf7f4;
  width: 273px;
  height: 62px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
}

.benefits__button span {
  font-weight: 900;
}

.benefits__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.specialists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 67px;
  background-color: #92d1d9;
  position: relative;
}

.specialists ._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.specialists .specialists__title {
  font-size: 55px;
  line-height: 60px;
  font-weight: 900;
  color: #013444;
  margin-top: 72px;
  padding-left: 100px;
  position: relative;
}

.specialists .specialists__title::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #30bac7;
  position: absolute;
  top: 150px;
  left: 100px;
}

.specialists .specialists__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  padding: 0 50px 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.specialists ._arrow_left {
  width: 16px;
  height: 34px;
  padding-right: 15px;
}

.specialists ._arrow_right {
  width: 16px;
  height: 34px;
  padding-left: 15px;
}

.specialists .specialists__photo {
  height: 306px;
}

.specialists .specialists__photo img {
  width: 306px;
}

.specialists .specialists__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 200;
  font-style: italic;
  color: #013444;
  background-color: #faf7f4;
  padding: 40px 50px 40px 25px;
  height: 226px;
}

.specialists ._arrow_down {
  width: 40px;
  bottom: -17px;
  left: 400px;
  position: absolute;
}

.specialists .specialists__name {
  font-size: 24px;
  line-height: 36px;
  font-weight: 900;
  color: #013444;
  padding-left: 90px;
}

.specialists .specialists_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 78%;
}

.specialists .specialists_carousel img {
  width: 15px;
  height: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

.specialists .specialists__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063544;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #faf7f4;
  width: 273px;
  height: 62px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 80px;
  margin-bottom: 65px;
}

.specialists .specialists__button span {
  font-weight: 900;
}

.specialists .specialists__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.whatWeDo {
  background-image: url(../img/whatwedo_back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 110px;
  margin-right: 75px;
  position: relative;
}

.whatWeDo .whatWeDo__title {
  margin-top: 115px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #013444;
}

.whatWeDo .whatWeDo__title::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #30bac7;
  position: absolute;
  top: 75px;
  left: 0;
}

.whatWeDo .whatWeDo__text {
  margin-top: 62px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 200;
  color: #013444;
  width: 500px;
}

.whatWeDo .whatWeDo__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063544;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #faf7f4;
  width: 273px;
  height: 62px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 62px;
  margin-right: 100px;
  margin-bottom: 115px;
}

.whatWeDo .whatWeDo__button span {
  font-weight: 900;
}

.whatWeDo .whatWeDo__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.whereWeAre {
  background-color: #16838a;
}

.whereWeAre ._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: visible;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whereWeAre .whereWeAre__image-box {
  padding-left: 46px;
  padding-top: -40px;
}

.whereWeAre .whereWeAre__image {
  position: absolute;
  top: -75px;
  width: 50%;
}

.whereWeAre .whereWeAre__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-left: 72px;
  margin-right: 72px;
}

.whereWeAre .whereWeAre__title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 100px;
}

.whereWeAre .whereWeAre__title::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #30bac7;
  position: absolute;
  top: 175px;
  left: 790px;
}

.whereWeAre .whereWeAre__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin-top: 63px;
}

.whereWeAre .whereWeAre__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #92d1d9;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  color: #013444;
  width: 273px;
  height: 62px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 60px;
}

.whereWeAre .whereWeAre__button span {
  font-weight: 900;
}

.whereWeAre .whereWeAre__button:hover {
  background-color: #063544;
  color: white;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
  line-height: 77px;
  font-weight: 400;
  color: #013444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 72px;
  margin-bottom: 34px;
}

.divider span {
  font-weight: 900;
}

.divider .divider__img {
  margin-top: 27px;
  width: 34px;
}

.feedback {
  background-color: #92d1d9;
}

.feedback ._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.feedback .feedback__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  padding-left: 100px;
  padding-right: 75px;
  position: relative;
}

.feedback .feedback__title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #013444;
  margin-top: 150px;
}

.feedback .feedback__title::after {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #30bac7;
  position: absolute;
  top: 215px;
  left: 100px;
}

.feedback .feedback__text {
  margin-top: 46px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 200;
  color: #013444;
}

.feedback .feedback__image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/feedback_back.png);
  background-position: right bottom;
  background-size: cover;
  padding: 150px 70px 160px 50px;
  position: relative;
}

.feedback ._opacity {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #faf7f4;
  opacity: 0.6;
}

.feedback .feedback__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #063544;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 31px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  color: #faf7f4;
  width: 273px;
  height: 62px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-top: 45px;
  margin-bottom: 88px;
}

.feedback .feedback__button:hover {
  background-color: #16838a;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.feedback .feedback__chat-item-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.feedback .feedback__chat-item-dark span {
  position: absolute;
  top: 22px;
  right: 180px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.feedback .feedback__chat-item-blue {
  margin-top: 63px;
  margin-bottom: 63px;
  position: relative;
}

.feedback .feedback__chat-item-blue span {
  position: absolute;
  top: 22px;
  left: 180px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.feedback .feedback__chat-item-dark-img {
  height: 125px;
}

.feedback .feedback__chat-item-blue-img {
  height: 125px;
}

.willkom {
  background-image: url(../img/willkom.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.willkom .back_col {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #107077c7;
}

.willkom ._container {
  padding: 100px 85px 95px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.willkom .willkom__info {
  max-width: 600px;
}

.willkom .willkom__title {
  font-size: 35px;
  line-height: 50px;
  font-weight: 900;
  color: #ffffff;
}

.willkom .willkom__band {
  margin: 20px 0 0 0;
  width: 50px;
  height: 10px;
  background-color: #30bac7;
}

.willkom .willkom__text {
  margin: 20px 0 0 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.willkom .willkom__button {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 272px;
  border-radius: 40px;
  background: #92d1d9;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #013444;
  text-decoration: none;
}

.willkom .willkom__button span {
  display: block;
  font-weight: 900;
}

.du-hast {
  width: 100%;
  overflow: hidden;
}

.du-hast ._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 85px 90px 85px;
  position: relative;
}

.du-hast ._container .du-hast__back {
  position: absolute;
  right: -340px;
  bottom: 0;
  max-height: 900px;
  z-index: 10;
}

.du-hast .du-hast__title {
  position: relative;
  z-index: 11;
  font-size: 55px;
  line-height: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #013444;
}

.du-hast .du-hast__band {
  margin: 20px 0 0 0;
  width: 50px;
  height: 10px;
  background-color: #30bac7;
}

.du-hast .du-hast__text {
  position: relative;
  z-index: 12;
  margin: 20px 0 0 0;
  font-size: 35px;
  line-height: 50px;
  font-weight: 400;
  color: #013444;
}

.du-hast .du-hast__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 75px 0 0 0;
}

.du-hast .du-hast__row .card {
  position: relative;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.du-hast .du-hast__row .card .card__img {
  width: 330px;
  height: 330px;
}

.du-hast .du-hast__row .card .card__avatar {
  margin: 0 30px 0 0;
}

.du-hast .du-hast__row .card p {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #013444;
}

.du-hast .du-hast__row .card .card__name {
  font-weight: 900;
}

.du-hast .du-hast__row .card .card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.du-hast .du-hast__row .card .card__list .card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #013444;
}

.du-hast .du-hast__row .card .card__list .card__link img {
  width: 25px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.du-hast .du-hast__row .card .card__list li:not(:last-child) {
  margin: 0 10px 0 0;
}

.du-hast .du-hast__row .card:not(:last-child) {
  margin: 0 60px 0 0;
}

footer {
  width: 100%;
  background-color: #063544;
}

footer ._container {
  padding: 0 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__title {
  margin: 60px 0 0;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  color: #ffffff;
}

footer .footer__band {
  margin: 20px 0 0 0;
  width: 50px;
  height: 10px;
  background-color: #30bac7;
}

footer .footer__button {
  margin: 35px 0 0 0;
}

footer .footer__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 272px;
  height: 62px;
  background-color: #92d1d9;
  -webkit-box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
          box-shadow: 6px 10px 27px 0px rgba(29, 29, 28, 0.31);
  border-radius: 50px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  color: #063544;
  text-align: center;
}

footer .footer__menu {
  margin: 75px 0 0 0;
  width: 100%;
  padding: 0 0 55px 0;
  border-bottom: 1px solid #FFF;
}

footer .footer__menu .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer__menu .header__logo {
  width: 160px;
  height: 115px;
}

footer .footer__menu .footer__item a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

footer .footer__footer {
  width: 100%;
  margin: 0 0 30px 0;
}

footer .footer__footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__footer li {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 1440px) {
  .hero {
    background-size: contain !important;
  }
  .willkom ._container {
    padding: 100px 85px 95px 85px;
  }
  .du-hast .du-hast__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .du-hast .du-hast__row .card:not(:last-child) {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 1110px) {
  .header__item {
    padding-right: 20px !important;
  }
  .header__logo {
    margin-left: 17px !important;
  }
  .header__items {
    padding-right: 17px !important;
  }
  .hero__title {
    padding-top: 30px !important;
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .hero__title::after {
    top: 280px !important;
  }
  footer .footer__menu .footer__item a {
    font-size: 15px;
  }
  .willkom ._container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .willkom .willkom__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 40px 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__button {
    display: none !important;
  }
  .hero {
    height: 485px !important;
    padding-left: 50px !important;
  }
  .hero__title {
    padding-top: 30px !important;
    font-size: 22px !important;
    line-height: 28px !important;
    width: 400px !important;
  }
  .hero__title::after {
    top: 245px !important;
  }
  .hero__text {
    font-size: 20px !important;
    line-height: 24px !important;
    width: 400px !important;
  }
  .hero__button {
    margin-top: 20px !important;
  }
  .benefits__title {
    margin-top: 20px !important;
  }
  .benefits__item {
    font-size: 22px !important;
    line-height: 28px !important;
  }
  .specialists__title {
    font-size: 36px !important;
    line-height: 48px !important;
  }
  .specialists__text {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .whatWeDo {
    background-size: 50%;
  }
  .whatWeDo__title {
    margin-top: 75px !important;
  }
  .whatWeDo__text {
    font-size: 22px !important;
    line-height: 28px !important;
  }
  .whereWeAre__image {
    top: -25px !important;
    width: 45% !important;
  }
  .whereWeAre__title {
    font-size: 28px !important;
    line-height: 36px !important;
    margin-top: 50px !important;
  }
  .whereWeAre__title::after {
    content: "";
    top: 95px !important;
    left: 540px !important;
  }
  .whereWeAre__text {
    margin-top: 30px !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .whereWeAre__button {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  .feedback__title {
    font-size: 32px !important;
    line-height: 38px !important;
    margin-top: 50px !important;
  }
  .feedback__title::after {
    content: "";
    top: 110px !important;
  }
  .feedback__chat-item-dark span {
    top: 6px !important;
    right: 90px !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .feedback__chat-item-blue span {
    top: 6px !important;
    left: 90px !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .feedback__chat-item-dark-img {
    height: 85px !important;
  }
  .feedback__chat-item-blue-img {
    height: 85px !important;
  }
  .divider {
    font-size: 32px !important;
    line-height: 50px !important;
    margin-top: 35px !important;
    margin-bottom: 20px !important;
  }
  .divider .divider__img {
    margin-top: 20px !important;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .header__items {
    display: none !important;
  }
  .header__burger {
    display: block !important;
    padding-right: 17px;
  }
  .header__button {
    display: none !important;
  }
  .hero {
    height: 350px !important;
    padding-left: 50px !important;
  }
  .hero__title {
    padding-top: 30px !important;
    font-size: 22px !important;
    line-height: 28px !important;
    width: 400px !important;
  }
  .hero__title::after {
    top: 245px !important;
  }
  .hero__text {
    font-size: 20px !important;
    line-height: 24px !important;
    width: 400px !important;
  }
  .hero__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 20px !important;
  }
  .benefits__title {
    font-size: 24px !important;
    line-height: 32px !important;
    padding-left: 50px !important;
    margin-top: 20px !important;
  }
  .benefits__title:after {
    content: "";
    top: 80px !important;
    left: 50px;
  }
  .benefits__box {
    grid-column-gap: 25px !important;
    margin-top: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .benefits__item {
    font-size: 18px !important;
    line-height: 22px !important;
    padding: 35px 35px 35px 35px !important;
  }
  .benefits__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 0 !important;
  }
  .specialists__title {
    font-size: 24px !important;
    line-height: 32px !important;
    margin-top: 36px !important;
    padding-left: 75px !important;
  }
  .specialists__title::after {
    content: "";
    top: 70px !important;
    left: 75px !important;
  }
  .specialists__wrap {
    margin-top: 30px !important;
    padding: 0 30px 0 30px !important;
  }
  .specialists__photo {
    height: 220px !important;
  }
  .specialists__photo img {
    width: 220px !important;
  }
  .specialists {
    margin-top: 50px !important;
  }
  .specialists__text {
    font-size: 16px !important;
    line-height: 19px !important;
    height: 185px !important;
    padding: 15px 25px 20px 20px !important;
  }
  .specialists__name {
    font-size: 18px !important;
    line-height: 36px;
    font-weight: 900;
    color: #013444;
    padding-left: 60px !important;
  }
  ._arrow_down {
    left: 300px !important;
  }
  .specialists_carousel {
    left: 50%;
    top: 73% !important;
  }
  .specialists_carousel img {
    width: 8px !important;
    height: 8px !important;
  }
  .specialists__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 0 !important;
  }
  .whatWeDo {
    background-size: 55%;
    margin-left: 70px !important;
  }
  .whatWeDo__title {
    margin-top: 35px !important;
    font-size: 28px !important;
    line-height: 34px !important;
  }
  .whatWeDo__title::after {
    content: "";
    top: 60px !important;
  }
  .whatWeDo__text {
    font-size: 22px !important;
    line-height: 28px !important;
    width: 380px !important;
  }
  .whatWeDo__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 30px !important;
    margin-bottom: 50px !important;
  }
  .whereWeAre__image-box {
    padding-left: 26px !important;
  }
  .whereWeAre__image {
    top: -25px !important;
    width: 45% !important;
  }
  .whereWeAre__title {
    font-size: 22px !important;
    line-height: 24px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }
  .whereWeAre__title::after {
    content: "";
    top: 55px !important;
    left: 390px !important;
  }
  .whereWeAre__text {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .whereWeAre__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  .feedback__box {
    padding-left: 50px !important;
    padding-right: 125px !important;
  }
  .feedback__image-box {
    padding: 80px 50px 50px 50px !important;
  }
  .feedback__title {
    font-size: 22px !important;
    line-height: 28px !important;
    margin-top: 25px !important;
  }
  .feedback__title::after {
    content: "";
    top: 75px !important;
    left: 50px !important;
  }
  .feedback__text {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .feedback__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  .feedback__chat-item-dark span {
    top: 2px !important;
    right: 75px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .feedback__chat-item-blue span {
    top: 2px !important;
    left: 75px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .feedback__chat-item-dark-img {
    height: 65px !important;
  }
  .feedback__chat-item-blue-img {
    height: 65px !important;
  }
  .divider {
    font-size: 22px !important;
    line-height: 36px !important;
    margin-top: 25px !important;
    margin-bottom: 20px !important;
  }
  .divider .divider__img {
    margin-top: 15px !important;
    width: 24px !important;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .header__items {
    display: none !important;
  }
  .header__burger {
    display: block !important;
    padding-right: 17px;
  }
  .hero {
    padding-left: 20px;
    height: 250px !important;
    background-size: 180% !important;
    background-position: center !important;
  }
  .hero__title {
    display: none !important;
  }
  .hero__text {
    display: none !important;
  }
  .hero__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 170px !important;
  }
  .benefits__title {
    font-size: 16px !important;
    line-height: 20px !important;
    padding-left: 20px !important;
    margin-top: 20px !important;
  }
  .benefits__title:after {
    content: "";
    top: 50px !important;
    left: 20px;
  }
  .benefits_back {
    display: none;
  }
  .benefits__box {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    grid-column-gap: 25px !important;
    margin-top: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .benefits__item {
    font-size: 18px !important;
    line-height: 22px !important;
    padding: 20px 20px 20px 20px !important;
  }
  .benefits__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 0 !important;
  }
  .specialists__title {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-top: 20px !important;
    padding-left: 40px !important;
  }
  .specialists__title::after {
    content: "";
    top: 50px !important;
    left: 40px !important;
  }
  .specialists__wrap {
    margin-top: 30px !important;
    padding: 0 15px 0 15px !important;
  }
  ._arrow_left {
    width: 8px !important;
    height: 17px !important;
    padding-right: 10px;
  }
  ._arrow_right {
    width: 8px !important;
    height: 17px !important;
    padding-left: 10px;
  }
  .specialists__photo {
    height: 200px !important;
  }
  .specialists__photo img {
    width: 200px !important;
  }
  .specialists {
    margin-top: 30px !important;
  }
  .specialists__text {
    display: none !important;
  }
  .specialists__name {
    font-size: 16px !important;
    line-height: 24px !important;
    padding-left: 40px !important;
    margin-bottom: 40px !important;
  }
  ._arrow_down {
    display: none !important;
  }
  .specialists_carousel {
    left: 40% !important;
    top: 73% !important;
  }
  .specialists_carousel img {
    width: 8px !important;
    height: 8px !important;
  }
  .specialists__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
    margin-left: 10px !important;
    margin-right: 40px !important;
  }
  .whatWeDo {
    background-size: 0%;
    margin-left: 20px !important;
  }
  .whatWeDo__title {
    margin-top: 25px !important;
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .whatWeDo__title::after {
    content: "";
    top: 35px !important;
  }
  .whatWeDo__text {
    font-size: 16px !important;
    line-height: 20px !important;
    width: 280px !important;
    margin-top: 30px !important;
  }
  .whatWeDo__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    margin-left: 40px !important;
  }
  .whereWeAre__image-box {
    display: none;
  }
  .whereWeAre__title {
    font-size: 18px !important;
    line-height: 22px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
  }
  .whereWeAre__title::after {
    content: "";
    top: 55px !important;
    left: 20px !important;
  }
  .whereWeAre__text {
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .whereWeAre__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    margin-left: 40px !important;
  }
  .whereWeAre__box {
    width: 100% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .feedback__box {
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: 100% !important;
  }
  .feedback__image-box {
    display: none !important;
    padding: 80px 50px 50px 50px !important;
  }
  .feedback__title {
    font-size: 18px !important;
    line-height: 24px !important;
    margin-top: 20px !important;
  }
  .feedback__title::after {
    content: "";
    top: 65px !important;
    left: 20px !important;
  }
  .feedback__text {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .feedback__button {
    font-size: 16px !important;
    line-height: 16px !important;
    width: 196px !important;
    height: 51px !important;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
    margin-left: 40px !important;
  }
  .feedback__chat-item-dark span {
    top: 2px !important;
    right: 75px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .feedback__chat-item-blue span {
    top: 2px !important;
    left: 75px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .feedback__chat-item-dark-img {
    height: 65px !important;
  }
  .feedback__chat-item-blue-img {
    height: 65px !important;
  }
  .divider {
    font-size: 22px !important;
    line-height: 36px !important;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
  }
  .divider .divider__img {
    margin-top: 15px !important;
    width: 24px !important;
  }
  footer .footer__title {
    font-size: 25px;
    line-height: 35px;
  }
  footer .footer__menu li:nth-child(2),
  footer .footer__menu li:nth-child(3) {
    display: none;
  }
  footer .footer__menu .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__menu .header__logo {
    margin: 0 15px 15px 0;
  }
  footer .footer__footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__footer ul li {
    margin: 0 15px 15px 0;
  }
  .willkom__video video {
    width: 400px;
    height: 200px;
  }
  .willkom .willkom__title {
    font-size: 25px;
    line-height: 40px;
    font-weight: 900;
  }
  .du-hast ._container {
    padding: 50px 15px 90px 15px;
  }
  .du-hast .du-hast__row .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .du-hast .du-hast__row .card .card__img {
    width: 230px;
    height: 230px;
  }
  .du-hast .du-hast__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
  }
  .du-hast .du-hast__text {
    font-size: 25px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */