@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Nexa-Regular.ttf) format('truetype');
  }
@font-face {
font-family: 'Nexa';
font-style: normal;
font-weight: 200;
src: url(../fonts/Nexa-Book.ttf) format('truetype');
}
@font-face {
    font-family: 'Nexa';
    font-style: bold;
    font-weight: 900;
    src: url(../fonts/Nexa-Heavy.ttf) format('truetype');
    }
@import "./reset";
  
@import "./_variables.scss";
  
@import "./_general.scss";
  
@import "./blocks/_header.scss";

@import "./blocks/_hero.scss";

@import "./blocks/_benefits.scss";

@import "./blocks/_specialists.scss";

@import "./blocks/_whatWeDo.scss";

@import "./blocks/_whereWeAre.scss";

@import "./blocks/_divider.scss";

@import "./blocks/_feedback.scss";

@import "./blocks/_main.scss";

@import "./blocks/_footer.scss";

@import "./blocks/_media.scss";