footer {
    
    width: 100%;
    background-color: $dark-blue;
    ._container {
        padding: 0 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__title {
        margin: 60px 0 0;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        color: #ffffff;
    }
    .footer__band {
        margin: 20px 0 0 0;
        width: 50px;
        height: 10px;
        background-color: $blue;
        
    }
    .footer__button {
        margin: 35px 0 0 0;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 272px;
            height: 62px;
            background-color: #92d1d9;
            box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
            border-radius: 50px;
            font-size: 20px;
            line-height: 20px;
            font-weight: 900;
            color: $dark-blue;
            text-align: center;
        }
    }
    .footer__menu {
        margin: 75px 0 0 0;
        width: 100%;
        padding: 0 0 55px 0;
        border-bottom: 1px solid #FFF;
        .footer__list {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .header__logo {
            width: 160px ;
            height: 115px;
        }
        .footer__item {
            a {
                font-size: 20px;
                line-height: 26px;
                font-weight: 400;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
    .footer__footer{
        width: 100%;
        margin: 0 0 30px 0;
        ul {
            display: flex;
            justify-content: space-between;
        }
        li {
            font-size: 16px;
            line-height: 36px;
            font-weight: 400;
            color: #ffffff;
        }
    }
}