.header {
    background-color: $dark-blue;
    position: relative;
}
.header__list {
    display: none;
    position: absolute;
    top: 121px;
    width: 424px;
    background-color: $dark-blue;
    opacity: 0.8;
    padding: 19px 30px 19px 30px;
    .header__list-item {
        text-decoration: none;
        font-size: 17px;
        line-height: 37px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        span {
            font-weight: 200;
        }
    }
}
.header__menu {
    display: flex;
    height: 121px;
    align-items: center;

    justify-content: space-between;
    .header__logo {
        width: 116px;
        margin-left: 34px;
    }
    .header__items {
        display: flex;
        align-items: center;
        padding-right: 48px;
    }
    .header__item {
        font-size: 24px;
        line-height: 36px;
        font-weight: 350;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        padding-right: 41px;
    }
    .header__item:hover {
        color: $light-blue;
        transition: color 0.5s ease;
    }
    .header__button {
        display: flex;
        flex-direction: column;
        background-color: $light-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #013444;
        width: 273px;
        height: 62px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        span {
            font-weight: 900;
            color: #013444;
        }
    }
    .header__button:hover {
        background-color: $semi-dark-blue;
        transition: ease 0.3s;
    }
}
.display-block {
    display: block;
}
.header__burger {
    display: none;
}