.hero {
    height: 645px;
    width: $width-site;
    background-image: url(../img/hero_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-left: 100px;
    .hero__title {
        display: flex;
        font-size: 35px;
        line-height: 50px;
        font-weight: 900;
        color: #013444;
        width: 615px;
        padding-top: 130px;
    }
    .hero__title:after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: #013444;
        position: absolute;
        top: 415px;
    }
    .hero__text {
        display: flex;
        font-size: 28px;
        line-height: 36px;
        font-weight: 200;
        color: #16838a;
        width: 615px;
        padding-top: 30px;
    }
    .hero__button {
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #faf7f4;
        width: 273px;
        height: 62px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 40px;
        span {
            font-weight: 900;
        }
    }
}
.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.benefits__title {
    font-size: 35px;
    line-height: 50px;
    font-weight: 900;
    color: #013444;
    padding-left: 100px;
    margin-top: 50px;
    position: relative;
}
.benefits__title:after {
    content: "";
    width: 50px;
    height: 5px;
    background-color: $light-blue;
    position: absolute;
    top: 110px;
    left: 100px;
}
.benefits_back {
    position: absolute;
    width: 526px;
    right: -280px;
    top: 0px;
    overflow: hidden;
    z-index: -1;
}
.benefits__box {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-column-gap: 50px;
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    .benefits__item {
    font-size: 24px;
    line-height: 36px;
    color: #013444;
    background-color: white;
    padding: 50px 50px 20px 50px;
    position: relative;
    }
    .benefits__item-title {
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 25px;
        mark {
            background-color: $light-blue;
        }
    }
    .benefits__item-text {
        font-weight: 200;
    }
    .benefits__item-back {
        position: absolute;
        bottom: 60px;
        right: 50px;
        opacity: 0.2;
        width: 40%;
    }
    .special_img {
        width: 25% !important;
    }
}
.benefits__button {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
    border-radius: 31px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 200;
    color: #faf7f4;
    width: 273px;
    height: 62px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 40px;
    span {
        font-weight: 900;
    }
}
.specialists {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    background-color: $light-blue;
    position: relative;
    ._container {
        display: flex;
        flex-direction: column;
    }
    .specialists__title {
        font-size: 55px;
        line-height: 60px;
        font-weight: 900;
        color: #013444;
        margin-top: 72px;
        padding-left: 100px;
        position: relative;
    }
    .specialists__title::after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: 150px;
        left: 100px;
    }
    .specialists__wrap {
        display: flex;
        margin-top: 80px;
        padding: 0 50px 0 50px;
        align-items: center;
        position: relative;
    }
    ._arrow_left {
        width: 16px;
        height: 34px;
        padding-right: 15px;
    }
    ._arrow_right {
        width: 16px;
        height: 34px;
        padding-left: 15px;
    }
    .specialists__photo {
        height: 306px;
        img {
            width: 306px;
        }
    }
    .specialists__text {
        font-size: 24px;
        line-height: 36px;
        font-weight: 200;
        font-style: italic;
        color: #013444;
        background-color: #faf7f4;
        padding: 40px 50px 40px 25px;
        height: 226px;
        
    }
    ._arrow_down {
        width: 40px;
        bottom: -17px;
        left: 400px;
        position: absolute;
    }
    .specialists__name {
        font-size: 24px;
        line-height: 36px;
        font-weight: 900;
        color: #013444;
        padding-left: 90px;
    }
    .specialists_carousel {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 78%;
        img {
            width: 15px;
            height: 15px;
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    .specialists__button {
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #faf7f4;
        width: 273px;
        height: 62px;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 15px;
        margin-right: 80px;
        margin-bottom: 65px;
        span {
            font-weight: 900;
        }
    }
}
.whatWeDo {
    background-image: url(../../img/whatwedo_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 110px;
    margin-right: 75px;
    position: relative;
    .whatWeDo__title {
        margin-top: 115px;
        font-size: 35px;
        line-height: 50px;
        font-weight: 900;
        color: #013444;
    }
    .whatWeDo__title::after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: 75px;
        left: 0;
    }
    .whatWeDo__text {
        margin-top: 62px;
        font-size: 28px;
        line-height: 36px;
        font-weight: 200;
        color: #013444;
        width: 500px;
    }
    .whatWeDo__button {
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #faf7f4;
        width: 273px;
        height: 62px;
        align-self: flex-end;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 62px;
        margin-right: 100px;
        margin-bottom: 115px;
        span {
            font-weight: 900;
        }
    }
}
.whereWeAre {
    background-color: #16838a;
    ._container {
        display: flex;
        position: relative;
        overflow: visible;
        justify-content: space-between;
    }
    .whereWeAre__image-box {
        padding-left: 46px;
        padding-top: -40px;
    }
    .whereWeAre__image {
        position: absolute;
        top: -75px;
        width: 50%;
    }
    .whereWeAre__box {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 72px;
        margin-right: 72px
    }
    .whereWeAre__title {
        font-size: 35px;
        line-height: 50px;
        font-weight: 900;
        color: #ffffff;
        margin-top: 100px;
    }
    .whereWeAre__title::after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: 175px;
        left: 790px;
    }
    .whereWeAre__text {
        font-size: 24px;
        line-height: 36px;
        font-weight: 200;
        color: #ffffff;
        margin-top: 63px;
    }
    .whereWeAre__button {
        display: flex;
        flex-direction: column;
        background-color: $light-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 200;
        color: #013444;
        width: 273px;
        height: 62px;
        align-self: flex-start;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 40px;
        margin-bottom: 60px;
        span {
            font-weight: 900;
        }
    }
}
.divider {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    line-height: 77px;
    font-weight: 400;
    color: #013444;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 34px;
    span {
        font-weight: 900;
    }
    .divider__img {
        margin-top: 27px;
        width: 34px;
    }
}
.feedback {
    background-color: $light-blue;
    ._container {
        display: flex;
        position: relative;
    }
    .feedback__box {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-left: 100px;
        padding-right: 75px;
        position: relative;
    }
    .feedback__title {
        font-size: 35px;
        line-height: 50px;
        font-weight: 900;
        color: #013444;
        margin-top: 150px;
    }
    .feedback__title::after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: $blue;
        position: absolute;
        top: 215px;
        left: 100px;
    }
    .feedback__text {
        margin-top: 46px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 200;
        color: #013444;
    }
    .feedback__image-box {
        display: flex;
        width : 70%;
        flex-direction: column;
        background-image: url(../../img/feedback_back.png);
        background-position: right bottom;
        background-size: cover;
        padding: 150px 70px 160px 50px;
        position: relative;
    }
    ._opacity {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #faf7f4;
        opacity: 0.6;
    }
    .feedback__button {
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        box-shadow: 6px 10px 27px 0px rgba(29,29,28,0.31);
        border-radius: 31px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;
        color: #faf7f4;
        width: 273px;
        height: 62px;
        align-self: flex-start;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 45px;
        margin-bottom: 88px;
    }
    .feedback__chat-item-dark {
        display: flex;
        justify-content: flex-end;
        position: relative;
        span {
            position: absolute;
            top: 22px;
            right: 180px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            color: #ffffff;
        }
    }
    .feedback__chat-item-blue {
        margin-top: 63px;
        margin-bottom: 63px;
        position: relative;
        span {
            position: absolute;
            top: 22px;
            left: 180px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400;
            color: #ffffff;
        }
    }
    .feedback__chat-item-dark-img {
        height: 125px;
    }
    .feedback__chat-item-blue-img {
        height: 125px;
    }
}