@media (max-width: 1440px) {
    .hero {
        background-size: contain !important;
    }
    .willkom {
        ._container {
            padding:  100px 85px 95px 85px;
        }
    }
    .du-hast {
        .du-hast__row {
            justify-content: center;
            .card:not(:last-child) {
                margin: 0 0 40px 0;
              }
        }
    }
}

@media (max-width: 1110px) {
    .header__item {
        padding-right: 20px !important;
    }
    .header__logo {
        margin-left: 17px !important;
    }
    .header__items {
        padding-right: 17px !important;
    }
    .hero__title {
        padding-top: 30px !important;
        font-size: 30px !important;
        line-height: 40px !important;
    }
    .hero__title::after {
        top: 280px !important;
    }
    footer .footer__menu .footer__item a {
        font-size: 15px;
    }
    .willkom  {
        ._container {
            flex-direction: column;
            align-items: center;
            justify-content:  space-between;
        }
        .willkom__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 40px 0;
        }   
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header__button {
        display: none !important;
    }
    .hero {
        height: 485px !important;
        padding-left: 50px !important;
    }
    .hero__title {
        padding-top: 30px !important;
        font-size: 22px !important;
        line-height: 28px !important;
        width: 400px!important;
    }
    .hero__title::after {
        top: 245px !important;
    }
    .hero__text {
        font-size: 20px !important;
        line-height: 24px !important;
        width: 400px!important;
    }
    .hero__button {
        margin-top: 20px !important;
    }
    .benefits__title {
        margin-top: 20px !important;
    }
    .benefits__item {
        font-size: 22px !important;
        line-height: 28px !important;
        }
    .specialists__title {
        font-size: 36px !important;
        line-height: 48px !important;
    }
    .specialists__text {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .whatWeDo {
        background-size: 50%;
    }
    .whatWeDo__title {
        margin-top: 75px !important;

    }
    .whatWeDo__text {
        font-size: 22px !important;
        line-height: 28px !important;
    }
    .whereWeAre__image {
        top: -25px !important;
        width: 45% !important;
    }
    .whereWeAre__title {
        font-size: 28px !important;
        line-height: 36px !important;
        margin-top: 50px !important; 
    }
    .whereWeAre__title::after {
        content: "";
        top: 95px !important;
        left: 540px !important;
    }
    .whereWeAre__text {
        margin-top: 30px !important;
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .whereWeAre__button {
        margin-top: 20px !important;
        margin-bottom: 30px !important; 
    }
    .feedback__title {
        font-size: 32px !important;
        line-height: 38px !important;
        margin-top: 50px !important;
    }
    .feedback__title::after {
        content: "";
        top: 110px !important;
    }
    .feedback__chat-item-dark {
        span {
            top: 6px !important;
            right: 90px !important;
            font-size: 20px !important;
            line-height: 24px !important;
        }
    }
    .feedback__chat-item-blue {
        span {
            top: 6px !important;
            left: 90px !important;
            font-size: 20px !important;
            line-height: 24px !important;
        }
    }
    .feedback__chat-item-dark-img {
        height: 85px !important;
    }
    .feedback__chat-item-blue-img {
        height: 85px !important;
    }
    .divider {
        font-size: 32px !important;
        line-height: 50px !important;
        margin-top: 35px !important;
        margin-bottom: 20px !important;
        .divider__img {
            margin-top: 20px !important;
        }
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .header__items {
        display: none !important;
    }
    .header__burger {
        display: block !important;
        padding-right: 17px;
    }
    .header__button {
        display: none !important;
    }
    .hero {
        height: 350px !important;
        padding-left: 50px !important;
    }
    .hero__title {
        padding-top: 30px !important;
        font-size: 22px !important;
        line-height: 28px !important;
        width: 400px!important;
    }
    .hero__title::after {
        top: 245px !important;
    }
    .hero__text {
        font-size: 20px !important;
        line-height: 24px !important;
        width: 400px!important;
    }
    .hero__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 20px !important;
    }
    .benefits__title {
        font-size: 24px !important;
        line-height: 32px !important;
        padding-left: 50px !important;
        margin-top: 20px !important;

    }
    .benefits__title:after {
        content: "";
        top: 80px !important;
        left: 50px;
    }
    .benefits__box {
        grid-column-gap: 25px !important;
        margin-top: 20px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        }
    .benefits__item {
        font-size: 18px !important;
        line-height: 22px !important;
        padding: 35px 35px 35px 35px !important;
        }
    .benefits__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 0 !important;
    }
    .specialists__title {
        font-size: 24px !important;
        line-height: 32px !important;
        margin-top: 36px !important;
        padding-left: 75px !important;
    }
    .specialists__title::after {
        content: "";
        top: 70px !important;
        left: 75px !important;
    }
    .specialists__wrap {
        margin-top: 30px !important;
        padding: 0 30px 0 30px !important;
    }
    .specialists__photo {
        height: 220px !important;
        img {
            width: 220px !important;
        }
    }
    .specialists {
        margin-top: 50px !important;
    }
    .specialists__text {
        font-size: 16px !important;
        line-height: 19px !important;
        height: 185px !important;
        padding: 15px 25px 20px 20px !important;
    }
    .specialists__name {
        font-size: 18px !important;
        line-height: 36px;
        font-weight: 900;
        color: #013444;
        padding-left: 60px !important;
    }
    ._arrow_down {
        left: 300px !important;
    }
    .specialists_carousel {
        left: 50%;
        top: 73% !important;
        img {
            width: 8px !important;
            height: 8px !important;
        }
    }
    .specialists__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 0 !important;
    }
    .whatWeDo {
        background-size: 55%;
        margin-left: 70px !important;
    }
    .whatWeDo__title {
        margin-top: 35px !important;
        font-size: 28px !important;
        line-height: 34px !important;
    }
    .whatWeDo__title::after {
        content: "";
        top: 60px !important;
    }
    .whatWeDo__text {
        font-size: 22px !important;
        line-height: 28px !important;
        width: 380px !important;
    }
    .whatWeDo__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 30px !important;
        margin-bottom: 50px !important;
    }
    .whereWeAre__image-box {
        padding-left: 26px !important;
    }
    .whereWeAre__image {
        top: -25px !important;
        width: 45% !important;
    }
    .whereWeAre__title {
        font-size: 22px !important;
        line-height: 24px !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    .whereWeAre__title::after {
        content: "";
        top: 55px !important;
        left: 390px !important;
    }
    .whereWeAre__text {
        margin-top: 20px !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .whereWeAre__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 20px !important;
        margin-bottom: 30px !important; 
    }
    .feedback__box {
        padding-left: 50px !important;
        padding-right: 125px !important;
    }
    .feedback__image-box {
        padding: 80px 50px 50px 50px !important;
    }
    .feedback__title {
        font-size: 22px !important;
        line-height: 28px !important;
        margin-top: 25px !important;
    }
    .feedback__title::after {
        content: "";
        top: 75px !important;
        left: 50px !important;
    }
    .feedback__text {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .feedback__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 20px !important;
        margin-bottom: 30px !important; 
    }
    .feedback__chat-item-dark {
        span {
            top: 2px !important;
            right: 75px !important;
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
    .feedback__chat-item-blue {
        span {
            top: 2px !important;
            left: 75px !important;
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
    .feedback__chat-item-dark-img {
        height: 65px !important;
    }
    .feedback__chat-item-blue-img {
        height: 65px !important;
    }
    .divider {
        font-size: 22px !important;
        line-height: 36px !important;
        margin-top: 25px !important;
        margin-bottom: 20px !important;
        .divider__img {
            margin-top: 15px !important;
            width: 24px !important;
        }
    }
}

@media (min-width: 320px) and (max-width: 424px) {
    .header__items {
        display: none !important;
    }
    .header__burger {
        display: block !important;
        padding-right: 17px;
    }
    .hero {
        padding-left: 20px;
        height: 250px !important;
        background-size: 180% !important;
        background-position: center !important;
    }
    .hero__title {
        display: none !important;
    }
    .hero__text {
        display: none !important;
    }
    .hero__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 170px !important;
    }
    .benefits__title {
        font-size: 16px !important;
        line-height: 20px !important;
        padding-left: 20px !important;
        margin-top: 20px !important;
    }
    .benefits__title:after {
        content: "";
        top: 50px !important;
        left: 20px;
    }
    .benefits_back {
        display: none;
    }
    .benefits__box {
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 25px !important;
        margin-top: 20px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        }
    .benefits__item {
        font-size: 18px !important;
        line-height: 22px !important;
        padding: 20px 20px 20px 20px !important;
        }
    .benefits__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 0 !important;
    }
    .specialists__title {
        font-size: 16px !important;
        line-height: 20px !important;
        margin-top: 20px !important;
        padding-left: 40px !important;
    }
    .specialists__title::after {
        content: "";
        top: 50px !important;
        left: 40px !important;
    }
    .specialists__wrap {
        margin-top: 30px !important;
        padding: 0 15px 0 15px !important;
    }
    ._arrow_left {
        width: 8px !important;
        height: 17px !important;
        padding-right: 10px;
    }
    ._arrow_right {
        width: 8px !important;
        height: 17px !important;
        padding-left: 10px;
    }
    .specialists__photo {
        height: 200px !important;
        img {
            width: 200px !important;
        }
    }
    .specialists {
        margin-top: 30px !important;
    }
    .specialists__text {
        display: none !important;
    }
    .specialists__name {
        font-size: 16px !important;
        line-height: 24px !important;
        padding-left: 40px !important;
        margin-bottom: 40px !important;
    }
    ._arrow_down {
        display: none !important;
    }
    .specialists_carousel {
        left: 40% !important;
        top: 73% !important;
        img {
            width: 8px !important;
            height: 8px !important;
        }
    }
    .specialists__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 0 !important;
        margin-bottom: 40px !important;
        margin-left: 10px !important;
        margin-right: 40px !important;
    }
    .whatWeDo {
        background-size: 0%;
        margin-left: 20px !important;
    }
    .whatWeDo__title {
        margin-top: 25px !important;
        font-size: 18px !important;
        line-height: 22px !important;
    }
    .whatWeDo__title::after {
        content: "";
        top: 35px !important;
    }
    .whatWeDo__text {
        font-size: 16px !important;
        line-height: 20px !important;
        width: 280px !important;
        margin-top: 30px !important;
    }
    .whatWeDo__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 30px !important;
        margin-bottom: 50px !important;
        margin-left: 40px !important;
    }
    .whereWeAre__image-box {
        display: none;
    }
    .whereWeAre__title {
        font-size: 18px !important;
        line-height: 22px !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    .whereWeAre__title::after {
        content: "";
        top: 55px !important;
        left: 20px !important;
    }
    .whereWeAre__text {
        margin-top: 20px !important;
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .whereWeAre__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 20px !important;
        margin-bottom: 30px !important; 
        margin-left: 40px !important;
    }
    .whereWeAre__box {
        width: 100% !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .feedback__box {
        padding-left: 20px !important;
        padding-right: 20px !important;
        width: 100% !important;
    }
    .feedback__image-box {
        display: none !important;
        padding: 80px 50px 50px 50px !important;
    }
    .feedback__title {
        font-size: 18px !important;
        line-height: 24px !important;
        margin-top: 20px !important;
    }
    .feedback__title::after {
        content: "";
        top: 65px !important;
        left: 20px !important;
    }
    .feedback__text {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .feedback__button {
        font-size: 16px !important;
        line-height: 16px !important;
        width: 196px !important;
        height: 51px !important;
        margin-top: 20px !important;
        margin-bottom: 30px !important;
        margin-left: 40px !important; 
    }
    .feedback__chat-item-dark {
        span {
            top: 2px !important;
            right: 75px !important;
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
    .feedback__chat-item-blue {
        span {
            top: 2px !important;
            left: 75px !important;
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
    .feedback__chat-item-dark-img {
        height: 65px !important;
    }
    .feedback__chat-item-blue-img {
        height: 65px !important;
    }
    .divider {
        font-size: 22px !important;
        line-height: 36px !important;
        margin-top: 15px !important;
        margin-bottom: 20px !important;
        .divider__img {
            margin-top: 15px !important;
            width: 24px !important;
        }
    }
    footer {
        .footer__title {
            font-size: 25px;
            line-height: 35px;
        }
        .footer__menu {
            li:nth-child(2),
            li:nth-child(3) {
                display: none;
            }
            .footer__list {
                flex-wrap: wrap;
                justify-content: center;
            }
            .header__logo {
                margin: 0 15px 15px 0;
            }
        }
        .footer__footer {
            ul {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    margin: 0 15px 15px 0;
                }
            }
        }
    }
    .willkom__video {
        video {
            width: 400px;
            height: 200px;
        }
    }
    .willkom {
        .willkom__title {
            font-size: 25px;
            line-height: 40px;
            font-weight: 900;
        }
    }
    .du-hast {
        ._container {
            padding: 50px 15px 90px 15px;
        }
        .du-hast__row {
            .card {
                flex-direction: column;
                .card__img {
                    width: 230px;
                    height: 230px;
                }
            }
        }
        .du-hast__title {
            font-size: 30px;
            line-height: 35px;
            font-weight: 600;
        }
        .du-hast__text {
            font-size: 25px;
            line-height: 40px;
        }
    }
}
